@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: auto;
  max-width: 2500px;
}

.principal {
  background: linear-gradient(to bottom, rgba(44, 40, 40, 0.7490196078), rgba(44, 40, 40, 0.7490196078)), url("../assets/principal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.principal .cabecalho {
  width: 97%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.principal .cabecalho .logo {
  background-color: #0BB1F8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 290px;
  width: 100%;
  height: 50px;
  border-radius: 0px 20px 20px 0px;
}
.principal .cabecalho .logo .logo-item {
  font-size: 1.4em;
  font-weight: 600;
  color: #fff;
}
.principal .cabecalho .botao {
  background-color: #0BB1F8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  max-width: 120px;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  transition: 0.3s;
}
.principal .cabecalho .botao:hover {
  transform: scale(1.1);
}
.principal .escrito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}
.principal .escrito .paragrafo {
  max-width: 900px;
  width: 90%;
  line-height: 1.8em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}
.principal .escrito .paragrafo span {
  color: #0BB1F8;
  font-weight: 600;
}

@media (max-width: 650px) {
  .principal .cabecalho {
    height: auto;
    margin: auto;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px 0px;
  }
  .principal .escrito .paragrafo {
    font-size: 1.4em;
  }
}
@media (max-width: 500px) {
  .principal .escrito {
    height: auto;
    padding: 20px 0px;
  }
  .principal .escrito .paragrafo {
    font-size: 1.2em;
  }
}
@media (max-width: 400px) {
  .principal .cabecalho .logo {
    max-width: 220px;
  }
  .principal .cabecalho .logo .logo-item {
    font-size: 1.2em;
  }
  .principal .escrito .paragrafo {
    font-size: 1.1em;
  }
}
@media (max-width: 310px) {
  .principal .escrito .paragrafo {
    font-size: 1em;
  }
}
.mapa {
  width: 100%;
  height: auto;
}
.mapa .mapa-titulo {
  width: 100%;
  height: 100px;
  background-color: rgba(44, 40, 40, 0.7490196078);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mapa .mapa-titulo .titulo-item {
  color: #fff;
  font-size: 2.3em;
  font-weight: 500;
}
.mapa .mapa-escrito {
  background: linear-gradient(to bottom, rgba(44, 40, 40, 0.7490196078), rgba(44, 40, 40, 0.7490196078)), url("../assets/mapa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mapa .mapa-escrito .paragrafo {
  max-width: 900px;
  width: 90%;
  line-height: 1.8em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}
.mapa .mapa-escrito .paragrafo span {
  color: #0BB1F8;
  font-weight: 600;
}

@media (max-width: 650px) {
  .mapa .mapa-escrito .paragrafo {
    font-size: 1.4em;
  }
}
@media (max-width: 550px) {
  .mapa .mapa-titulo .titulo-item {
    font-size: 2em;
  }
}
@media (max-width: 500px) {
  .mapa .mapa-escrito .paragrafo {
    font-size: 1.2em;
  }
}
@media (max-width: 400px) {
  .mapa .mapa-escrito .paragrafo {
    font-size: 1.1em;
  }
}
@media (max-width: 360px) {
  .mapa .mapa-titulo .titulo-item {
    font-size: 1.7em;
  }
}
@media (max-width: 310px) {
  .mapa .mapa-escrito .paragrafo {
    font-size: 1em;
  }
}
.informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px 0px;
  background-color: rgba(44, 40, 40, 0.7490196078);
  width: 100%;
  height: 700px;
}
.informacoes .titulo {
  color: #fff;
  font-size: 2.3em;
  font-weight: 500;
  text-align: center;
  width: 90%;
}
.informacoes .paragrafo {
  max-width: 900px;
  width: 90%;
  line-height: 1.8em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}
.informacoes .paragrafo span {
  color: #0BB1F8;
  font-weight: 600;
}

@media (max-width: 650px) {
  .informacoes .paragrafo {
    font-size: 1.4em;
  }
}
@media (max-width: 550px) {
  .informacoes .titulo {
    font-size: 2em;
  }
}
@media (max-width: 500px) {
  .informacoes .paragrafo {
    font-size: 1.2em;
  }
}
@media (max-width: 460px) {
  .informacoes .titulo {
    line-height: 1.5em;
  }
}
@media (max-width: 400px) {
  .informacoes .paragrafo {
    font-size: 1.1em;
  }
}
@media (max-width: 360px) {
  .informacoes .titulo {
    font-size: 1.7em;
  }
}
@media (max-width: 310px) {
  .informacoes .paragrafo {
    font-size: 1em;
  }
}
.rota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px 0px;
  background: linear-gradient(to bottom, rgba(44, 40, 40, 0.7490196078), rgba(44, 40, 40, 0.7490196078)), url("../assets/rota.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}
.rota .rota-titulo {
  color: #fff;
  font-size: 2.3em;
  font-weight: 500;
  text-align: center;
  width: 90%;
}
.rota .rota-escrito {
  max-width: 900px;
  width: 90%;
  line-height: 1.8em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}
.rota .rota-escrito span {
  color: #0BB1F8;
  font-weight: 600;
}

@media (max-width: 650px) {
  .rota .rota-escrito {
    font-size: 1.4em;
  }
}
@media (max-width: 500px) {
  .rota .rota-escrito {
    font-size: 1.2em;
  }
}
@media (max-width: 496px) {
  .rota .rota-titulo {
    line-height: 1.5em;
  }
}
@media (max-width: 400px) {
  .rota .rota-escrito {
    font-size: 1.1em;
  }
}
@media (max-width: 360px) {
  .rota .rota-titulo {
    font-size: 1.7em;
  }
}
@media (max-width: 310px) {
  .rota .rota-escrito {
    font-size: 1em;
  }
}
.rodape {
  background-color: #1E1E1E;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px 0px;
}
.rodape .logo {
  background-color: #0BB1F8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 290px;
  width: 100%;
  height: 50px;
  border-radius: 0px 20px 20px 0px;
}
.rodape .logo .logo-item {
  font-size: 1.4em;
  font-weight: 600;
  color: #fff;
}
.rodape .link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px 30px;
}
.rodape .link .link-item {
  color: #fff;
  font-size: 1.6em;
  transition: 0.5s;
}
.rodape .link .link-item:hover {
  transform: translateY(-5px);
}
.rodape .paragrafo {
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  width: 90%;
}

@media (max-width: 670px) {
  .rodape {
    padding: 35px 0px;
  }
}
@media (max-width: 400px) {
  .rodape .logo {
    max-width: 220px;
  }
  .rodape .logo .logo-item {
    font-size: 1.2em;
  }
  .rodape .link .link-item {
    font-size: 1.4em;
  }
  .rodape .paragrafo {
    font-size: 1em;
  }
}
@media (max-width: 310px) {
  .rodape .paragrafo {
    font-size: 0.9em;
  }
}/*# sourceMappingURL=index.css.map */